body
{
	background-color: #ededed;
}
#sign_in_form
{
	position: relative;
  overflow: hidden;
  top: 45px;
  height: calc(100% - 38px);
  margin: auto;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);


}
.sign_in_container#login 
{
    max-width: 350px;
    padding: 40px 40px;
    padding: 20px 25px 25px;

    margin: 0 auto 450px;
    margin-top: 50px;



}
.sign_up_container#register
{
  max-width: 350px;
  padding: 40px 40px;
  padding: 20px 25px 25px;

  margin: 0 auto 80px;
  margin-top: 50px;
}
.site-logo
{
	width: 120px;
  height: 60px;
  margin: 50px auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
    /*position: relative;
    left: 380px;*/
}
.form-control#email_signIn
{
	margin:10px auto 15px;
}
.form-control#password_signIn
{
	margin:0 auto 15px;
}
.form-control:focus 
{
    border-color: rgb(29, 161, 242);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(29, 161, 242);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(29, 161, 242);
}
 .btn.btn-signin 
{
    background-color: rgb(9, 210, 97);
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    margin:0 auto 15px;
}
.btn.btn-signin:hover,
.btn.btn-signin:focus,
.btn.btn-signin:active
{
	/*border-color: rgb(29, 161, 242);
	border:0px solid;
    outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(29, 161, 242);*/
	 background-color: rgb(30, 190, 165);
}
.btn-signup
{
  background-color: #1DA1F2;
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
  margin:0 auto 0px;

}
.btn-create_account
{
  background-color: rgb(9, 210, 97);
  padding: 0px;
  font-weight: 700;
  font-size: 14px;
  height: 36px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
  margin:0 auto 15px;
}
.btn.btn-create_account:hover,
.btn.btn-create_account:focus,
.btn.btn-create_account:active
{
  /*border-color: rgb(29, 161, 242);
  border:0px solid;
    outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(29, 161, 242);*/
   background-color: rgb(30, 190, 165);
}
.reg
{
  color: white;
}
#wait_msg
{
	
}
/****************************************************************************/

.header-holder
{
  position: relative;
}
.mainpage_logo
{
  width: 120px;
  height: 40px;
  position: absolute;
  left: 0px;
  top:0px;
}
.form_container
{
  display: block;
  width: 100%;
  height: 500px;
  position: relative;
  top: 50px;
  left: 0px;
  overflow: auto;
}
.cont
{
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06), 0 2px 5px 0 rgba(0, 0, 0, .2);
}
.btn-signout 
{
    background-color: #1DA1F2;
    padding: 0px;
    font-weight: 500;
    font-size: 14px;
    height: 25px;
    width: 70px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 2px;
    border: none;

    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
    margin:0 auto 5px;
    position: absolute;
    top: 10px;
    left: 1050px;
}
.btn.btn-signout:hover,
.btn.btn-signout:active
{

  background-color: rgb(30, 190, 165);
}
.trans_txt
{
  font-size: 20px;
  position: absolute;
  top:0px;
  left: 50px;
  font-weight: 500;
}
.language_from_combo
{
  position: absolute;
  top:50px;
  left: 50px;
  width: 150px;
}
.language_to_combo
{
  position: absolute;
  top:50px;
  left: 600px;
  width: 150px;
}
.trans_word
{
  position: absolute;
  top:100px;
  left: 50px;
  border:2px solid #f1f1f1;
  width: 45%;
  height: 200px;
}
.trans_word_container
{
  position: absolute;
  display: block;
  width: 45%;
  height: 200px;
 

  top:100px;
  left: 600px;
  /*margin: 10px 0px auto 550px;*/
  background-color:#ededed; 
}
.btn-translate
{
  background-color: #1DA1F2;
  padding: 0px;
  font-weight: 500;
  font-size: 14px;
  height: 28px;
  width: 80px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 2px;
  border: none;

  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
  margin:0 auto 5px;
  position: relative;
  top: 48px;
  left: 250px;
}
.trans_of_word
{
  position: absolute;
  top:310px;
  left: 50px;
  color: #797979;
}
.word_type_cl
{
  position: absolute;
  top:330px;
  left: 150px;
  color: #797979;

  font-style: italic;
}
.sepedi_word_example_cl
{
  position: absolute;
  top:360px;
  left: 50px;

  color: #797979;
  font-size: 13px;
}
.eng_word_example_cl
{
  position: absolute;
  top:380px;
  left: 50px;
  color: #797979;
  font-size: 13px;
}
#userName
{
  position: absolute;
  left: 800px;
  top: 10px;
  color: #797979;
}
.user-img
{
  position: absolute;
  left: 750px;
  top: 10px;
  height: 25px;
  width: 25px;
  border-radius: 3px;
}
